@model MvcOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem
@{
    ViewBag.Title = "FaturaKalemGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Fatura Kalem Güncelleme Sayfası</h2>

@using (Html.BeginForm("FaturaKalemGuncelle", "Fatura", FormMethod.Post))
{
    @Html.HiddenFor(x => x.FaturaKalemId)

    @Html.LabelFor(x => x.Aciklama)
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Miktar)
    @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BirimFiyat)
    @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tutar)
    @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control" })
    <br />
  
    <button class="btn btn-warning">Fatura Kalemi Güncelle</button>

}