@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>

@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satis Detay Sayfası </h2>
<br />


<table class="table table-striped-columns">
    <tr>
        <th> Satış Id</th>
        <th> Ürün</th>
        <th> Cari</th>
        <th> Personel</th>
        <th> Fiyat</th>
        <th> Adet</th>
        <th> Toplam</th>
        <th> Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisHareketId</td>
            <td>@item.urunler.UrunAd</td>
            <td>@item.cariler.CariAd @item.cariler.CariSoyad</td>
            <td>@item.personel.PersonelAd @item.personel.PersonelSoyad</td>
            <td>@item.Fiyat</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
        </tr>
    }
</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>



