@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Musteri Satis Sayfası</h2>

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
</ol>

<table class="table table-striped-columns">
    <tr>
        <th> Satış Id</th>
        <th> Ürün</th>
        <th> Personel</th>
        <th> Fiyat</th>
        <th> Adet</th>
        <th> Toplam</th>
        <th> Tarih</th>
        <th> Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisHareketId</td>
            <td>@item.urunler.UrunAd</td>
            <td>@item.personel.PersonelAd @item.personel.PersonelSoyad</td>
            <td>@item.Fiyat</td>
            <td>@item.Adet</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
            <td><a href="#" class="btn btn-dark" style="background-color:darkblue">Yazdır</a></td>
        </tr>
    }
</table>



